<template>
    <div>
        <div class="banner ban_white" style="background-image: url(http://dexploitdm.ru/server/data/public/img/bg_w.png);}">
            <div class="b_title">
                <h1>Обо мне</h1>
            </div>
        </div>
        <div class="ui inverted divided">
            <h4 is="sui-divider" horizontal inverted>
                Надпись
            </h4>
        </div>
        <div class="block_page">
            

            <div v-for="post in posts">
                {{ post.title }}
            </div>
        </div>
    </div>
</template>
<script>
import axios from 'axios'
export default {
        name: 'InvertedDivider',
        data() {
            return {
                loading: false,
                posts: null,
                error: null,
            };
        },
        created() {
            this.fetchDataService();
        },
        methods: {
            fetchDataService() {
                this.error = this.posts = null;
                this.loading = true;
                axios
                    .get('http://dexploitdm.ru/server/api/about_data')
                    .then(response => {
                        this.loading = false;
                        this.posts = response.data;
                    }).catch(error => {
                    this.loading = false;
                    this.error = error.response.data.message || error.message;
                });
            }
        }
    }
</script>
<style scoped>

</style>