<template>
    <div>
        <div class="slider" v-if="sliders">
            <div class="slide_viewer">
                <div class="slide_group">
                    <div class="slide"  v-for="{ title, content, id, image, btn, btn_links } in sliders"
                         v-bind:style="{ 'background-image': 'url(http://dexploitdm.ru/server/data/public/uploads/sliders/' + image + ')' }">
                        <div class="ton_slider">
                            <div class="layout_slider">
                            <div class="body_slider">
                                <div class="title">
                                    <h1>{{ title }}</h1>
                                </div>
                                <div class="content">
                                    <p> {{ content | striphtml }} </p>
                                </div>
                                <div class="btns_slider">
                                    <a :href=" btn_links " class="slider_order">{{ btn }}</a>
                                    <router-link :to="{ name: 'services' }" class="slider_link">Услуги</router-link>
                                </div>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="slide_buttons"></div>
        <section class="services">
            <div class="layout_service" v-if="service">
                <div class="title_sec"><h2>Услуги</h2></div>
                <div class="gridservice">
                    <div class="single_service" v-for="{ title, content, id, desc, image } in service">
                        <div class="body_service">
                            <div class="bg_service">
                                 <div class="bg_s" v-bind:style="{ 'background-image': 'url(http://dexploitdm.ru/server/data/public/uploads/services/' + image + ')' }"></div>
                            </div>
                            <div class="title_s">
                                <p>{{ title }}</p>
                            </div>
                            <div class="desc_s">
                                <p>{{ desc | striphtml }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="cools"  v-if="cools">
            <div class="layout_cools">
                <div class="title_sec"><h2>Преимущества</h2></div>
                <div class="gridcools">
                    <div class="single_cool" v-for="{ title, content, id, image } in cools">
                        <div class="body_cool">
                            <div class="bg_cool">
                                <div class="bg_c" v-bind:style="{ 'background-image': 'url(http://dexploitdm.ru/server/data/public/uploads/cools/' + image + ')' }"></div>
                            </div>
                            <div class="title_cool">
                                <p>{{ title }}</p>
                            </div>
                            <div class="desc_cool">
                                <p>{{ content | striphtml }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    
        <section class="block">
            <vk-card>
                <vk-button>...</vk-button>
            </vk-card>
            
        </section>
        <section class="" style="height: 200px; background-color: #0f9d58;">
            <div class="layout_form">
                 <div class="card-body">
                        <form @submit="formSubmit">

                        <strong>email:</strong>
                        <input type="text" class="form-control" v-model="email">
                        <strong>content:</strong>
                        <textarea class="form-control" v-model="content"></textarea>
 
                        <button class="btn btn-success">Submit</button>
                        </form>
                        <strong>Output:</strong>
                        <pre>
                        {{output}}
                        </pre>
                    </div>

            </div>
        </section>
    </div>
</template>
<script>
    import axios from 'axios';
    export default {
        data() {
            return {
                loading: false,
                service: null,
                sliders: null,
                cools: null,
                error: null,
                email: '',
                content: '',
                output: ''
            };
        },
        created() {
            this.fetchDataServices();
            this.fetchDataSliders();
            this.fetchDataCools();
        },
        methods: {
            formSubmit(e) {
                e.preventDefault();
                let currentObj = this;
                axios.post('http://dexploitdm.ru/projects/others/mail_call.php', {
                    email: this.email,
                    content: this.content
                })
                .then(function (response) {
                    currentObj.output = response.data;
                })
                .catch(function (error) {
                    currentObj.output = error;
                });
            },
            fetchDataSliders() {
                this.error = this.sliders = null;
                this.loading = true;
                axios
                    .get('http://dexploitdm.ru/server/api/slider_data')
                    .then(response => {
                        this.loading = false;
                        this.sliders = response.data;
                    }).catch(error => {
                    this.loading = false;
                    this.error = error.response.data.message || error.message;
                });
            },
            fetchDataServices() {
                this.error = this.service = null;
                this.loading = true;
                axios
                    .get('http://dexploitdm.ru/server/api/server_data')
                    .then(response => {
                        this.loading = false;
                        this.service = response.data;
                    }).catch(error => {
                    this.loading = false;
                    this.error = error.response.data.message || error.message;
                });
            },
            fetchDataCools() {
                this.error = this.cools = null;
                this.loading = true;
                axios
                    .get('http://dexploitdm.ru/server/api/cool_data')
                    .then(response => {
                        this.loading = false;
                        this.cools = response.data;
                    }).catch(error => {
                    this.loading = false;
                    this.error = error.response.data.message || error.message;
                });
            }
        }
    }
</script>
<style scoped>

</style>