<template>
    <div>
        <div class="page" v-if="work">
            <div class="banner ban_white" style="background-image: url(http://dexploitdm.ru/server/data/public/img/bg_w.png);}">
                <div class="b_title">
                    <h1>{{ work.title }}</h1>
                </div>
            </div>
            <div class="work_page" v-if="work.check_block">
                <div class="work" v-if="work.line_block">
                    <!-- линейный вид блоков-->
                    <div class="line_text_block">
                        <p v-html="work.content"></p>  
                    </div>
                    <div class="line_block">
                        <img :src="'http://dexploitdm.ru/server/data/public/uploads/works/' + work.image"/>
                    </div>
                    <div class="desc_work">
                        <div class="work_link">
                            <div v-if="work.github">
                                <a :href="work.github" class="link_git" target="_blank">
                                     <div is="sui-segment" inverted>
                                        <sui-button color="red" inverted>Исходники <vk-icons-github attrs>...</vk-icons-github></sui-button>
                                    </div>      
                                </a>
                            </div>
                            <div v-else>
                                <a :href="work.links" class="link_work" target="_blank">
                                     <div is="sui-segment" inverted>
                                        <sui-button color="red" inverted>Перейти на проект</sui-button>
                                    </div>      
                                </a>
                            </div>
                        </div>
                        <div class="date">
                            <p>Разработан: {{work.created_at | formatDate }}</p>
                            <p>Создан на: {{work.technology }}</p>
                        </div>
                        <div class="line_content">
                            <p v-html="work.text_block"></p>
                        </div>
                    </div>
                    <div class="images_work">
                        <img v-if="work.image_two" :src="'http://dexploitdm.ru/server/data/public/uploads/works/' + work.image_two"/>
                        <img v-if="work.image_three" :src="'http://dexploitdm.ru/server/data/public/uploads/works/' + work.image_three"/>
                        <img v-if="work.image_blocks" :src="'http://dexploitdm.ru/server/data/public/uploads/works/' + work.image_blocks"/>
                    </div>
                </div>
                <div class="work" v-else>
                    <!-- не линейный вид блоков -->
                    <div class="info_work">
                        <div class="left_block">
                            <div class="in_content">
                                <p v-html="work.content"></p>  
                            </div>
                            <div class="desc_work">
                                <div class="work_link">
                                    <div v-if="work.github">
                                        <a :href="work.github" class="link_git" target="_blank">
                                            <div is="sui-segment" inverted>
                                                <sui-button color="red" inverted>Исходники <vk-icons-github attrs>...</vk-icons-github></sui-button>
                                            </div>      
                                        </a>
                                    </div>
                                    <div v-else>
                                        <a :href="work.links" class="link_work" target="_blank">
                                            <div is="sui-segment" inverted>
                                                <sui-button color="red" inverted>Перейти на проект</sui-button>
                                            </div>      
                                        </a>
                                    </div>
                                </div>
                                <div class="date">
                                    <p>Разработан: {{work.created_at | formatDate }}</p>
                                    <p>Создан на: {{work.technology }}</p>
                                </div>
                                <div class="line_content" v-html="work.text_block"></div>
                            </div>
                        </div>
                        <div class="rigth_block">
                            <img :src="'http://dexploitdm.ru/server/data/public/uploads/works/' + work.image"/>
                        </div>
                         <div class="images_work">
                            <img v-if="work.image_two" :src="'http://dexploitdm.ru/server/data/public/uploads/works/' + work.image_two"/>
                            <img v-if="work.image_three" :src="'http://dexploitdm.ru/server/data/public/uploads/works/' + work.image_three"/>
                            <img v-if="work.image_blocks" :src="'http://dexploitdm.ru/server/data/public/uploads/works/' + work.image_blocks"/>
                        </div>
                    </div>   
                </div>
            </div>





            <div class="work_page" v-else>
                <div class="text_block">
                    <div class="grid_block">
                        <div class="cover">
                             <img :src="'http://dexploitdm.ru/server/data/public/uploads/works/' + work.image"/>
                        </div>
                        <div class="content_work"> 
                            <div class="text_work">
                                <p v-html="work.content"></p>
                            </div>
                        </div>
                    </div>


                    <div class="ui inverted divided">
                        <h4 is="sui-divider" horizontal inverted>
                            Информация
                        </h4>
                    </div>
                    <div class="desc_work">
                        <div class="work_link">
                            <div v-if="work.github">
                                <a :href="work.github" class="link_git" target="_blank">
                                     <div is="sui-segment" inverted>
                                        <sui-button color="red" inverted>Исходники <vk-icons-github attrs>...</vk-icons-github></sui-button>
                                    </div>      
                                </a>
                            </div>
                            <div v-else>
                                <a :href="work.links" class="link_work" target="_blank">
                                     <div is="sui-segment" inverted>
                                        <sui-button color="red" inverted>Перейти на проект</sui-button>
                                    </div>      
                                </a>
                            </div>
                        </div>
                       
                        <div class="date">
                            <p>Разработан: {{work.created_at | formatDate }}</p>
                            <p>Создан на: {{work.technology }}</p>
                        </div>
                        <div class="line_content">
                            <p v-html="work.text_block"></p>
                        </div>
                    </div>
                    <div class="images_work">
                        <img v-if="work.image_two" :src="'http://dexploitdm.ru/server/data/public/uploads/works/' + work.image_two"/>
                        <img v-if="work.image_three" :src="'http://dexploitdm.ru/server/data/public/uploads/works/' + work.image_three"/>
                        <img v-if="work.image_blocks" :src="'http://dexploitdm.ru/server/data/public/uploads/works/' + work.image_blocks"/>
                    </div>
                </div>
            </div>


        </div>
    </div>
</template>
<script>
import axios from 'axios'
export default {
    name: 'InvertedDivider',
    name: 'ButtonInvertedExample',
    props: ['id', 'title'],
    data() {
            return {
                loading: false,
                work: null,
                error: null,
            };
        },
        created() {
            this.fetchDataShowWork();
        },
        methods: {
            fetchDataShowWork() {
                this.error = this.work = null;
                this.loading = true;
                axios.get('http://dexploitdm.ru/server/api/work_data/' + this.id)
                    .then(response => {
                        this.loading = false;
                        this.work = response.data;
                    }).catch(error => {
                    this.loading = false;
                    this.error = error.response.data.message || error.message;
                });
            },
        }
}
</script>
<style scoped>

</style>