<template>
    <div>
        <div class="banner" style="background-image: url(http://dexploitdm.ru/server/data/public/img/bg.png);}">
           <div class="b_title bounceInLeft">
               <h1 v-animate-css="''">Услуги</h1>
           </div>
        </div>

<h1 class="centered">Прокрути меня</h1>
  <div
    v-scroll="handleScroll"
    class="box"
  >
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A atque amet harum aut ab veritatis earum porro praesentium ut corporis. Quasi provident dolorem officia iure fugiat, eius mollitia sequi quisquam.</p>
  </div>

        
        <div class="block_page">
            <div class="block_service" v-if="service">

   
                          


                <div class="single_service_block" v-for="{ title, content, position, background, color_text, id, image } in service">
                    <div class="layout_block_s" 
                    v-bind:class=" 'position_' + position"
                    v-bind:style=" 'background-color:' + background + ';color:' + color_text"
                    >
                       <div class="body_se">
                           <div class="slot_s">
                                <div class="bg_se">
                                    <img :src="'http://dexploitdm.ru/server/data/public/uploads/services/' + image"/>
                                </div>
                                <div class="content_se" v-bind:style="'border: 2px dashed' + background">
                                    <div class="title_se"><p>{{ title }}</p></div>
                                    <p class="desc">{{ content | striphtml }}</p>
                                </div>
                           </div>
                       </div>
                    </div>
                </div>



            </div>
        </div>

<div class="b_title" v-animate-css="'wow bounceInUp animated'"> 
               <h1>Услуги</h1>
           </div>

    </div>
</template>
<script>

    import axios from 'axios';
    export default {
        data() {
            return {
                loading: false,
                service: null,
                error: null,
            };
        },
        created() {
            this.fetchDataService();
        },
        methods: {
            handleScroll: function (evt, el) {
                if (window.scrollY > 50) {
                    
                    $('.box').addClass('bounceInLeft');
                    $('.block_page').addClass('bounceInLeft');
                }
                return window.scrollY > 100
            },
            fetchDataService() {
                this.error = this.service = null;
                this.loading = true;
                axios
                    .get('http://dexploitdm.ru/server/api/server_data')
                    .then(response => {
                        this.loading = false;
                        this.service = response.data;
                    }).catch(error => {
                    this.loading = false;
                    this.error = error.response.data.message || error.message;
                });
            }
        }
    }
</script>
<style scoped>

</style>
