<template>
    <div>
        <div class="banner ban_white" style="background-image: url(http://dexploitdm.ru/server/data/public/img/bg_w.png);}">
            <div class="b_title">
                <h1>Проекты</h1>
            </div>
        </div>
        <div class="works">
            <div class="toolbar mb2 mt2">
                <button class="btn fil-cat all" href="" data-rel="all">Все</button>
                <button class="btn fil-cat" data-rel="landing">Landing Page</button>
                <button class="btn fil-cat" data-rel="shop">Интернет-магазин</button>
                <button class="btn fil-cat" data-rel="corparate">Корпоративный сайт</button>
            </div> 
            <div style="clear:both;"></div>   
            <div id="portfolio" v-if="works">
                <div class="tile scale-anm web all" v-for="{ title, content, id, image, filter } in works" v-bind:class="filter">
                    <router-link
                        :to="{ name: 'listwork', params: { id: id } }">
                        <img :src="'http://dexploitdm.ru/server/data/public/uploads/works/' + image"/>
                    </router-link>
                </div>
            </div>
            <div style="clear:both;"></div>
        </div>
       
    </div>
</template>
<script>
    import axios from 'axios';
    export default {
        data() {
            return {
                loading: false,
                works: null,
                error: null,
            };
        },
        created() {
            this.fetchData();
        },
        methods: {
            fetchData() {
                this.error = this.works = null;
                this.loading = true;
                axios.get('http://dexploitdm.ru/server/api/work_data')
                    .then(response => {
                        this.loading = false;
                        this.works = response.data;
                    }).catch(error => {
                    this.loading = false;
                    this.error = error.response.data.message || error.message;
                });
            },
        },
        mounted: function(){
            $(document).ready(function(){
                $(".toolbar button.all").addClass('active')
                $(".toolbar button").click(function(){
                    if ( $(".toolbar button").hasClass('active')) {
                        $(".toolbar button").removeClass('active');
                    }
                    $(this).addClass("active");
                });
            });
            $(function() {
                var selectedClass = "";
                $(".fil-cat").click(function(){ 
                selectedClass = $(this).attr("data-rel"); 
                $("#portfolio").fadeTo(100, 0.1);
                $("#portfolio div").not("."+selectedClass).fadeOut().removeClass('scale-anm');
                setTimeout(function() {
                    $("."+selectedClass).fadeIn().addClass('scale-anm');
                    $("#portfolio").fadeTo(300, 1);
                }, 300); 
                
                });
            });
        }
    }
</script>
<style scoped>
@import url("//unpkg.com/element-ui@2.4.11/lib/theme-chalk/index.css");
.el-carousel__item h3 {
    color: #475669;
    font-size: 14px;
    opacity: 0.75;
    line-height: 200px;
    margin: 0;
  }

  .el-carousel__item:nth-child(2n) {
    background-color: #99a9bf;
  }

  .el-carousel__item:nth-child(2n+1) {
    background-color: #d3dce6;
  }
  .el-carousel__item .bg_slider_w {
    width: 100%;
    height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
.box {
  transition: 1.5s all cubic-bezier(0.39, 0.575, 0.565, 1);
}
</style>
