<template>
  <div class="hello">
    <h2>Essential Links</h2>
    <div v-for="post in posts">
      {{ post.title }}
    </div>
    <ul>
      <li>
        <a
          href="https://vuejs.org"
          target="_blank"
        >
          Core Docs
        </a>
      </li>
   
    </ul>
  </div>
</template>
 
<script>
import axios from 'axios'
export default {
        data() {
            return {
                loading: false,
                posts: null,
                error: null,
            };
        },
        created() {
            this.fetchDataService();
        },
        methods: {
            fetchDataService() {
                this.error = this.posts = null;
                this.loading = true;
                axios
                    .get('http://vueport.dm/api/servertest')
                    .then(response => {
                        this.loading = false;
                        this.posts = response.data;
                    }).catch(error => {
                    this.loading = false;
                    this.error = error.response.data.message || error.message;
                });
            }
        }
    }
// export default {
//   data () {
//     return {
//     posts: null,
//     endpoint: 'https://jsonplaceholder.typicode.com/posts',
//     }
//   },

//   created() {
//     this.getAllPosts();
//   },

//   methods: {
//       getAllPosts() {
//           axios.get(this.endpoint)
//           .then(response => {
//           this.posts = response.data;
//       })
//       .catch(error => {
//           console.log('-----error-------');
//           console.log(error);
//       })
//     }
//   }
// }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>