<template>
    <div>
        <div class="banner" style="background-image: url(http://dexploitdm.ru/server/data/public/img/bg.png);}">
           <div class="b_title">
               <h1>Проекты</h1>
           </div>
    </div>
    <div class="works">
        <div class="toolbar mb2 mt2">
            <button class="btn fil-cat all" href="" data-rel="all">Все</button>
            <button class="btn fil-cat" data-rel="web">Landing Page</button>
            <button class="btn fil-cat" data-rel="flyers">Интернет-магазин</button>
            <button class="btn fil-cat" data-rel="bcards">Корпоративный сайт</button>
        </div> 
 
        <div style="clear:both;"></div>   
        <div id="portfolio">
            <div class="tile scale-anm web all">
                    <img src="http://demo.themerain.com/charm/wp-content/uploads/2015/04/2-mon_1092-300x234.jpg" alt="" />
            </div>
            <div class="tile scale-anm bcards all">
                <img src="http://demo.themerain.com/charm/wp-content/uploads/2015/04/jti-icons_08-300x172.jpg" alt="" />
            </div>
            <div class="tile scale-anm web all">
                <img src="http://demo.themerain.com/charm/wp-content/uploads/2015/04/emi_haze-300x201.jpg" alt="" />
            </div>
            <div class="tile scale-anm web all">
                        <img src="http://demo.themerain.com/charm/wp-content/uploads/2015/04/codystretch-300x270.jpg" alt="" />
            </div>
            <div class="tile scale-anm flyers all">
                    <img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=350%C3%97190&w=350&h=190" alt="" />
            </div>
            <div class="tile scale-anm bcards all">
                        <img src="https://placeholdit.imgix.net/~text?txtsize=19&txt=200%C3%97290&w=200&h=290" alt="" />
            </div>
            <div class="tile scale-anm flyers all">
                <img src="http://demo.themerain.com/charm/wp-content/uploads/2015/04/jti-icons_08-300x172.jpg" alt="" />
            </div>
            <div class="tile scale-anm flyers all">
                <img src="http://demo.themerain.com/charm/wp-content/uploads/2015/04/transmission_01-300x300.jpg" alt="" />
            </div>
            <div class="tile scale-anm web all">
                    <img src="https://placeholdit.imgix.net/~text?txtsize=19&txt=200%C3%97290&w=200&h=290" alt="" />
            </div>
            <div class="tile scale-anm flyers all">
                    <img src="https://placeholdit.imgix.net/~text?txtsize=19&txt=200%C3%97290&w=200&h=290" alt="" /> 
            </div>
            <div class="tile scale-anm web all">
                    <img src="http://demo.themerain.com/charm/wp-content/uploads/2015/04/the-ninetys-brand_02-300x300.jpg" alt="" />
            </div>
            <div class="tile scale-anm bcards all">
                        <img src="http://demo.themerain.com/charm/wp-content/uploads/2015/04/15-dia_1092-1-300x300.jpg" alt="" />
            </div>
            <div class="tile scale-anm web all">
                <img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=350%C3%97190&w=350&h=190" alt="" /> 
            </div>
            <div class="tile scale-anm bcards all">
                    <img src="http://demo.themerain.com/charm/wp-content/uploads/2015/04/emi_haze-300x201.jpg" alt="" />  
            </div>
            <div class="tile scale-anm web all">
                        <img src="http://demo.themerain.com/charm/wp-content/uploads/2015/04/transmission_01-300x300.jpg" alt="" />
            </div> 
            <div class="tile scale-anm web all">
                <img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=350%C3%97190&w=350&h=190" alt="" />  
            </div> 
            <div class="tile scale-anm bcards all">     
                        <img src="https://placeholdit.imgix.net/~text?txtsize=19&txt=200%C3%97290&w=200&h=290" alt="" />
            </div>
        </div>

        <div style="clear:both;"></div>   
        <div style="clear: both"></div>
        <div v-if="works">
            <div v-for="{ title, content, id } in works">
                <strong>Title:</strong> {{ title }},
                <strong>Content:</strong> {{ content }},
                <strong>Id:</strong> {{ id }
                <a :href="'#openModal' + id">Ссылка</a>
            </div>
        </div>
    
        <div v-if="works">
            <div v-for="{ item, title, content, id } in works">
                <div v-bind:id="'openModal' + id" class="modalDialog">
                    <div>
                        <a href="#close" title="Закрыть" class="close">
                            x
                        </a>
                        <h2>Модальное окно {{ id }}</h2>
                        <p>Пример простого модального окна, которое может быть создано с использованием CSS3.</p>
                        <p>Его можно использовать в широком диапазоне, начиная от вывода сообщений и заканчивая формой регистрации.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</template>
<script>
    import axios from 'axios';
    export default {
        data() {
            return {
                loading: false,
                works: null,
                error: null,
            };
        },
        created() {
            this.fetchData();
        },
        methods: {
            fetchData() {
                this.error = this.works = null;
                this.loading = true;
                axios.get('http://dexploitdm.ru/server/api/work_data')
                    .then(response => {
                        this.loading = false;
                        this.works = response.data;
                    }).catch(error => {
                    this.loading = false;
                    this.error = error.response.data.message || error.message;
                });
            },
        },
        mounted: function(){
            $(document).ready(function(){
                $(".toolbar button.all").addClass('active')
                $(".toolbar button").click(function(){
                    if ( $(".toolbar button").hasClass('active')) {
                        $(".toolbar button").removeClass('active');
                    }
                    $(this).addClass("active");
                });
            });
            $(function() {
                var selectedClass = "";
                $(".fil-cat").click(function(){ 
                selectedClass = $(this).attr("data-rel"); 
                $("#portfolio").fadeTo(100, 0.1);
                $("#portfolio div").not("."+selectedClass).fadeOut().removeClass('scale-anm');
                setTimeout(function() {
                    $("."+selectedClass).fadeIn().addClass('scale-anm');
                    $("#portfolio").fadeTo(300, 1);
                }, 300); 
                
                });
            });
        }
    }
</script>
<style scoped>

</style>
