<template>
    <div>
        <div class="banner" style="background-image: url(http://dexploitdm.ru/server/data/public/img/bg.png);}">
           <div class="b_title">
               <h1>Проекты</h1>
           </div>
    </div>
    <div class="works">
        <div class="loading" v-if="loading">
            Loading...
        </div>
        <div v-if="error" class="error">
            <p>{{ error }}</p>

            <p>
                <button @click.prevent="fetchData">
                    Try Again
                </button>
            </p>
        </div>
        <div class="container_work"> 
            <input type="radio" id="reset" name="color"/>
            <label for="reset">Все проекты</label>
            <input type="radio" id="blue" name="color" />
            <label for="blue">Landing</label>
            <input type="radio" id="red" name="color"/>
            <label for="red">Интернет-магазин</label>
            <input type="radio" id="green" name="color"/>
            <label for="green">Корпаративный сайт</label>

            <div class="tile blue">1</div>
            <div class="tile red">2</div>
            <div class="tile blue">3</div>
            <div class="tile green">4</div>
            <div class="tile blue">5</div>
            <div class="tile red">6</div>
            <div class="tile red">7</div>
            <div class="tile green">8</div>
            <div class="tile blue">9</div>
            <div class="tile green">10</div>
            <div class="tile red">11</div>
            <div class="tile green">12</div>
            <div class="tile blue">13</div>
            <div class="tile blue">14</div>
            <div class="tile green">15</div>s
            <div class="tile red">16</div>
        </div>
        <div style="clear: both"></div>
        <div v-if="works">
            <div v-for="{ title, content, id } in works">
                <strong>Title:</strong> {{ title }},
                <strong>Content:</strong> {{ content }},
                <strong>Id:</strong> {{ id }
                <a :href="'#openModal' + id">Ссылка</a>
            </div>
        </div>
    
        <div v-if="works">
            <div v-for="{ item, title, content, id } in works">
                <div v-bind:id="'openModal' + id" class="modalDialog">
                    <div>
                        <a href="#close" title="Закрыть" class="close">
                            x
                        </a>
                        <h2>Модальное окно {{ id }}</h2>
                        <p>Пример простого модального окна, которое может быть создано с использованием CSS3.</p>
                        <p>Его можно использовать в широком диапазоне, начиная от вывода сообщений и заканчивая формой регистрации.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</template>
<script>
    import axios from 'axios';
    export default {
        data() {
            return {
                loading: false,
                works: null,
                error: null,
            };
        },
        created() {
            this.fetchData();
        },
        methods: {
            fetchData() {
                this.error = this.works = null;
                this.loading = true;
                axios.get('http://dexploitdm.ru/server/api/work_data')
                    .then(response => {
                        this.loading = false;
                        this.works = response.data;
                    }).catch(error => {
                    this.loading = false;
                    this.error = error.response.data.message || error.message;
                });
            },
        }
    }
</script>
<style scoped>
.container_work {
  width:90%;
  margin:0 auto;
}
.container_work input[type="radio"] {
    display:none;
}
.container_work label {
  width:23%;
  float:left;
  text-align:center;
  background:#ffffff;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  color:#222222;
  padding:0.5%;
  margin:0.5%;
  margin-bottom:30px;
  cursor:pointer;
}
.container_work .container_work input[type="radio"][id="blue"]:checked + label {
  background:#6666ff;
}
.container_work input[type="radio"][id="blue"]:checked ~ .red, input[type="radio"][id="blue"]:checked ~ .green {
  width:0;
  height:0;
  padding:0;
  margin:0;
  opacity:0;
}
.container_work input[type="radio"][id="red"]:checked + label {
  background:#ff4466;
}
.container_work input[type="radio"][id="red"]:checked ~ .blue, input[type="radio"][id="red"]:checked ~ .green {
  width:0;
  height:0;
  padding:0;
  margin:0;
  opacity:0;
}
.container_work input[type="radio"][id="green"]:checked + label {
  background:#66dd99;
}
.container_work input[type="radio"][id="green"]:checked ~ .blue, input[type="radio"][id="green"]:checked ~ .red {
  width:0;
  height:0;
  padding:0;
  margin:0;
  opacity:0;
}

.container_work .tile {
  width:23%;
  height:100px;
  float:left;
  transition:all 1s;
  margin:0.5%;
  padding:0.5%;
}
.container_work .green {
  background:#66dd99;
}
.container_work .blue {
  background:#6666ff;
}
.container_work .red {
  background:#ff4466;
}
</style>
