@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);@import url(https://fonts.googleapis.com/css?family=Black+Han+Sans);@import url(https://fonts.googleapis.com/css?family=Oswald:400,600&subset=cyrillic);@import url(https://fonts.googleapis.com/css?family=Marmelad|Russo+One|Vollkorn:400,600&subset=cyrillic);@charset "UTF-8";

/*font-family: 'Vollkorn', serif;*/

/*font-family: 'Russo One', sans-serif;*/

/*font-family: 'Marmelad', sans-serif;*/

del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* End of Eric Meyer's CSS Reset */

html {
  height: 100%;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
section,
summary {
  display: block;
}

body {
  margin: 0 auto !important;
  height: 100%;
  overflow-y: scroll;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 8px #0ecf4a;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 40px;
  -webkit-box-shadow: inset 0 0 14px #000000;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

.wrapper {
  width: 100%;
  min-width: 1000px;
  min-height: 100%;
  height: auto !important;
  height: 100%;
}

.asx {
  color: #333;
}

.d_btn {
  background-color: #2ab27b;
  border: none;
  border-radius: 20px;
  color: white;
  -webkit-box-shadow: 0 0 3px 0px black;
          box-shadow: 0 0 3px 0px black;
  overflow: hidden;
  outline: none;
  padding: 0 15px 0 15px;
  padding: 7px 25px 7px 25px;
  font-size: 16px;
  cursor: pointer;
}

.d_btn:hover {
  -webkit-box-shadow: 0 0 7px 0px black;
          box-shadow: 0 0 7px 0px black;
}

.d_nav {
  background-color: #f9f9f9;
  text-align: right;
  -webkit-box-shadow: 0px 3px 9px #0000003b;
          box-shadow: 0px 3px 9px #0000003b;
  position: relative;
  height: 50px;
  z-index: 99;
}

.logo {
  display: inline-block;
  padding-top: 15px;
  background-color: #464646;
  padding-bottom: 24px;
  padding-left: 15px;
  padding-right: 15px;
  color: white;
  border-radius: 0px 0px 38px 38px;
  -webkit-box-shadow: 0 2px 20px 0px #000000a8;
          box-shadow: 0 2px 20px 0px #000000a8;
  position: relative;
  margin-left: 20px;
  margin-right: 20px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-transform: translateX(0%);
  transform: translateY(0%);
}

.logo a {
  font-family: "Black Han Sans", sans-serif;
  text-decoration: none;
  font-size: 20px;
  color: #0ed04a;
}

.logo p {
  font-family: "Oswald", sans-serif;
  position: absolute;
  top: 23px;
  left: 37px;
  font-size: 12px;
  -moz-user-select: none;
  -o-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.lists {
  display: inline-block;
}

.lists a.nav {
  font-family: "Oswald", sans-serif;
  color: #464646;
  text-decoration: none;
  padding: 5px 15px 5px 15px;
  margin-left: 20px;
  margin-right: 20px;
}

.lists a.nav:hover {
  /*background-color: #0000001f;*/
  /*box-shadow: 0 0 1px #0000006e;*/
  background-color: #0ed04a;
  -webkit-box-shadow: 0 0 1px #0000006e;
          box-shadow: 0 0 1px #0000006e;
  color: #ffffff;
  border-radius: 10px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.navigate {
  width: 1170px;
  margin: 0 auto;
  text-align: center;
}

.mobile {
  display: none;
}

@media screen and (max-width: 1200px) {
  .navigate {
    width: 100%;
  }

  .layout_nav {
    margin-left: 15px;
    margin-right: 15px;
  }
}

@media screen and (max-width: 740px) {
  .mobile {
    display: block;
    -webkit-transition: 0.2s;
    transition: 0.2s;
  }

  .d_nav {
    text-align: initial;
    height: 50px;
  }

  .lists a.nav {
    display: none;
  }

  ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px #D8D8D8;
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px #000000;
  }

  ::-webkit-scrollbar {
    width: 2px;
    height: 2px;
  }
}

.layout_mob {
  display: none;
}

/*
*Модальные окна
*/

.modalDialog {
  position: fixed;
  font-family: Arial, Helvetica, sans-serif;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.48);
  z-index: 99999;
  -webkit-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  display: none;
  pointer-events: none;
}

.modalDialog:target {
  display: block;
  pointer-events: auto;
}

.modalDialog > div {
  width: 90%;
  position: relative;
  margin: 10% auto;
  padding: 5px 20px 13px 20px;
  border-radius: 10px;
  background: #fff;
  border: 2px solid #19a26a;
}

.close {
  background: #19a26a;
  color: #ffffff;
  line-height: 23px;
  position: absolute;
  right: -12px;
  text-align: center;
  top: -10px;
  width: 37px;
  text-decoration: none;
  font-weight: bold;
  border-radius: 50px;
  -webkit-box-shadow: 1px 1px 3px #000;
  box-shadow: 1px 1px 3px #000;
}

.close:hover {
  background: #1bcc83;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.modal_close {
  width: 30px;
  padding-top: 7px;
}

#nav-icon {
  width: 46px;
  height: 28px;
  position: relative;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

#nav-icon span {
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  background: #d3531a;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

#nav-icon span:nth-child(1) {
  top: 12px;
}

#nav-icon span:nth-child(2) {
  top: 18px;
}

#nav-icon span:nth-child(3) {
  top: 24px;
}

#nav-icon.open span:nth-child(1) {
  top: 18px;
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
}

#nav-icon.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
}

#nav-icon.open span:nth-child(3) {
  top: 18px;
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

.open_nav .layout_mob {
  display: block;
}

.nav-trigger {
  position: fixed;
  width: 64px;
  height: 64px;
  right: 29px;
  top: 7px;
  cursor: pointer;
  z-index: 200;
  -webkit-transform-origin: 110px 0px;
  transform-origin: 110px 0px;
  -webkit-transform: scale(0.6);
  transform: scale(0.6);
  -webkit-transition: background 0.3s linear;
  transition: background 0.3s linear;
}

.nav-trigger.open {
  background: #464646;
  border-radius: 50px;
  -webkit-box-shadow: 0 0 7px #0ed04a;
          box-shadow: 0 0 7px #0ed04a;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.nav-trigger.open:hover {
  -webkit-box-shadow: 0 0 15px 1px #000000cc;
          box-shadow: 0 0 15px 1px #000000cc;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.nav-trigger.close {
  background: transparent;
  border: 2px solid #0ed04a;
}

.line {
  display: block;
  position: absolute;
  width: 46px;
  height: 4px;
  background: #0ed04a;
  left: 8px;
  -webkit-transform-origin: 0px 4px;
  transform-origin: 0px 4px;
  -webkit-transition: opacity 0.3s cubic-bezier(0.645, 0.045, 0.355, 1) 0s, -webkit-transform 0.24s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
  transition: opacity 0.3s cubic-bezier(0.645, 0.045, 0.355, 1) 0s, -webkit-transform 0.24s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
  transition: opacity 0.3s cubic-bezier(0.645, 0.045, 0.355, 1) 0s, transform 0.24s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
  transition: opacity 0.3s cubic-bezier(0.645, 0.045, 0.355, 1) 0s, transform 0.24s cubic-bezier(0.645, 0.045, 0.355, 1) 0s, -webkit-transform 0.24s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
}

.line:nth-child(1) {
  top: 20px;
}

.line:nth-child(2) {
  top: 31px;
}

.line:nth-child(3) {
  top: 42px;
}

.close .line:nth-child(1) {
  -webkit-transform: translateX(11px) rotate(45deg);
  transform: translateX(7px) rotate(45deg);
  top: 14px;
}

.close .line:nth-child(2) {
  opacity: 0;
}

.close .line:nth-child(3) {
  -webkit-transform: translateX(11px) rotate(-45deg);
  transform: translateX(11px) rotate(-45deg);
  top: 46px;
}

nav {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 100;
  margin: 0 auto;
  margin-left: -15px;
  margin-top: -57px;
}

nav.out {
  pointer-events: none;
}

nav.in {
  pointer-events: auto;
}

nav ul,
li {
  display: block;
  padding: 0;
  margin: 0;
  width: 100%;
}

nav ul {
  height: 100%;
  width: 100%;
  position: absolute;
}

nav li {
  height: 20%;
  position: relative;
  background: #000000e0;
  color: #fff;
  font-family: "Russo One", sans-serif;
}

#nav span a {
  color: #ffffff;
  font-family: "Russo One", sans-serif;
  text-decoration: none;
}

#nav span a:hover {
  background-color: transparent;
  cursor: pointer;
}

#nav li:hover {
  background: #ffffff;
  color: #000000;
}

#nav li:hover span a {
  color: #000000 !important;
}

nav.in li:nth-child(1) {
  -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1) 0.1s, opacity 0.5s linear 0.1s;
  -webkit-transition: opacity 0.5s linear 0.1s, -webkit-transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1) 0.1s;
  transition: opacity 0.5s linear 0.1s, -webkit-transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1) 0.1s;
  transition: transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1) 0.1s, opacity 0.5s linear 0.1s;
  transition: transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1) 0.1s, opacity 0.5s linear 0.1s, -webkit-transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1) 0.1s;
}

nav.in li:nth-child(2) {
  -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1) 0.2s, opacity 0.5s linear 0.2s;
  -webkit-transition: opacity 0.5s linear 0.2s, -webkit-transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1) 0.2s;
  transition: opacity 0.5s linear 0.2s, -webkit-transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1) 0.2s;
  transition: transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1) 0.2s, opacity 0.5s linear 0.2s;
  transition: transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1) 0.2s, opacity 0.5s linear 0.2s, -webkit-transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1) 0.2s;
}

nav.in li:nth-child(3) {
  -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1) 0.3s, opacity 0.5s linear 0.3s;
  -webkit-transition: opacity 0.5s linear 0.3s, -webkit-transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1) 0.3s;
  transition: opacity 0.5s linear 0.3s, -webkit-transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1) 0.3s;
  transition: transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1) 0.3s, opacity 0.5s linear 0.3s;
  transition: transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1) 0.3s, opacity 0.5s linear 0.3s, -webkit-transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1) 0.3s;
}

nav.in li:nth-child(4) {
  -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1) 0.4s, opacity 0.5s linear 0.4s;
  -webkit-transition: opacity 0.5s linear 0.4s, -webkit-transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1) 0.4s;
  transition: opacity 0.5s linear 0.4s, -webkit-transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1) 0.4s;
  transition: transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1) 0.4s, opacity 0.5s linear 0.4s;
  transition: transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1) 0.4s, opacity 0.5s linear 0.4s, -webkit-transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1) 0.4s;
}

nav.in li:nth-child(5) {
  -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s, opacity 0.5s linear 0.5s;
  -webkit-transition: opacity 0.5s linear 0.5s, -webkit-transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s;
  transition: opacity 0.5s linear 0.5s, -webkit-transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s;
  transition: transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s, opacity 0.5s linear 0.5s;
  transition: transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s, opacity 0.5s linear 0.5s, -webkit-transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s;
}

nav.out li:nth-child(5) {
  -webkit-transition: -webkit-transform 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19) 0s, opacity 0.3s linear 0s;
  -webkit-transition: opacity 0.3s linear 0s, -webkit-transform 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19) 0s;
  transition: opacity 0.3s linear 0s, -webkit-transform 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19) 0s;
  transition: transform 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19) 0s, opacity 0.3s linear 0s;
  transition: transform 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19) 0s, opacity 0.3s linear 0s, -webkit-transform 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19) 0s;
}

nav.out li:nth-child(4) {
  -webkit-transition: -webkit-transform 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19) 0.05s, opacity 0.3s linear 0.05s;
  -webkit-transition: opacity 0.3s linear 0.05s, -webkit-transform 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19) 0.05s;
  transition: opacity 0.3s linear 0.05s, -webkit-transform 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19) 0.05s;
  transition: transform 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19) 0.05s, opacity 0.3s linear 0.05s;
  transition: transform 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19) 0.05s, opacity 0.3s linear 0.05s, -webkit-transform 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19) 0.05s;
}

nav.out li:nth-child(3) {
  -webkit-transition: -webkit-transform 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19) 0.1s, opacity 0.3s linear 0.1s;
  -webkit-transition: opacity 0.3s linear 0.1s, -webkit-transform 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19) 0.1s;
  transition: opacity 0.3s linear 0.1s, -webkit-transform 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19) 0.1s;
  transition: transform 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19) 0.1s, opacity 0.3s linear 0.1s;
  transition: transform 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19) 0.1s, opacity 0.3s linear 0.1s, -webkit-transform 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19) 0.1s;
}

nav.out li:nth-child(2) {
  -webkit-transition: -webkit-transform 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19) 0.15s, opacity 0.3s linear 0.15s;
  -webkit-transition: opacity 0.3s linear 0.15s, -webkit-transform 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19) 0.15s;
  transition: opacity 0.3s linear 0.15s, -webkit-transform 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19) 0.15s;
  transition: transform 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19) 0.15s, opacity 0.3s linear 0.15s;
  transition: transform 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19) 0.15s, opacity 0.3s linear 0.15s, -webkit-transform 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19) 0.15s;
}

nav.out li:nth-child(1) {
  -webkit-transition: -webkit-transform 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19) 0.2s, opacity 0.3s linear 0.2s;
  -webkit-transition: opacity 0.3s linear 0.2s, -webkit-transform 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19) 0.2s;
  transition: opacity 0.3s linear 0.2s, -webkit-transform 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19) 0.2s;
  transition: transform 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19) 0.2s, opacity 0.3s linear 0.2s;
  transition: transform 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19) 0.2s, opacity 0.3s linear 0.2s, -webkit-transform 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19) 0.2s;
}

nav.out li {
  -webkit-transform: translateY(300%);
  transform: translateY(300%);
  opacity: 0;
}

nav.in li {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
}

.nav-label {
  position: absolute;
  width: 100%;
  left: 0;
  text-align: center;
  height: 16px;
  top: 50%;
  margin-top: -8px;
  text-transform: uppercase;
}

.shot {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-transform: translateX(-120%);
  transform: translateY(-120%);
  float: inherit;
}

.d_nav .block {
  display: block;
}

/*
Секция услуги
 */

.services {
  width: 1170px;
  margin: 0 auto;
  padding-top: 30px;
}

.gridservice {
  padding-top: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 2vw;
}

.title_sec h2 {
  font-family: Oswald,sans-serif;
  font-size: 36px;
  line-height: 36px;
  color: #000000;
  opacity: .8;
  text-align: center;
  cursor: default;
  margin: 0 auto;
}

.services .title_s p {
  font-family: Oswald,sans-serif;
  font-size: 20px;
  line-height: 20px;
  color: #000000;
  opacity: .8;
  text-align: center;
  cursor: default;
}

.bg_service .bg_s {
  height: 190px;
  width: 100%;
  margin: 0 auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.services .desc_s {
  height: 80px;
  padding-left: 15px;
  padding-right: 15px;
}

.services .desc_s p {
  font-family: 'Marmelad', sans-serif;
  font-style: normal;
  font-weight: lighter;
  color: #000000;
  opacity: 0.8;
  text-align: center;
  cursor: default;
}

.services .bg_service {
  text-align: center;
}

.services .bg_service img {
  width: auto;
  margin: 0 auto;
  height: 190px;
}

.body_service {
  border: 2px dashed green;
  border-radius: 50px;
  padding-top: 15px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.body_service:hover {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  -webkit-box-shadow: 0 0 14px -1px #0ecf4a;
          box-shadow: 0 0 14px -1px #0ecf4a;
}

@media screen and (max-width: 1200px) {
  .services {
    width: 100%;
  }

  .layout_service {
    padding-left: 25px;
    padding-right: 25px;
  }

  .services .title_s p {
    padding-left: 10px;
    padding-right: 10px;
  }

  .services .desc_s {
    height: 120px;
  }
}

@media screen and (max-width: 840px) {
  .gridservice {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 641px) {
  .title_sec h2 {
    font-family: Oswald,sans-serif;
    font-size: 32px;
    line-height: 32px;
  }

  .gridservice {
    display: block;
    grid-template-columns: auto;
  }

  .single_service {
    margin-bottom: 10px;
  }

  .services .desc_s {
    height: auto;
  }
}

/*
Преимущества
 */

.cools {
  width: 1170px;
  margin: 0 auto;
  padding-top: 40px;
  padding-bottom: 35px;
}

.gridcools {
  padding-top: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 2vw;
}

.cools .title_cool p {
  font-family: Oswald,sans-serif;
  font-size: 20px;
  line-height: 20px;
  color: #000000;
  opacity: .8;
  text-align: center;
  cursor: default;
}

.cools .desc_cool {
  padding-left: 15px;
  padding-right: 15px;
}

.cools .desc_cool p {
  font-family: 'Marmelad', sans-serif;
  font-style: normal;
  font-weight: lighter;
  color: #000000;
  opacity: 0.8;
  text-align: center;
  cursor: default;
}

.cools .bg_cool {
  text-align: center;
}

.cools .bg_cool .bg_c {
  height: 105px;
  width: 100%;
  margin: 0 auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.desc_cool {
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (max-width: 1200px) {
  .cools {
    width: 100%;
    margin: 0 auto;
  }

  .layout_cools {
    padding-left: 25px;
    padding-right: 25px;
  }
}

@media screen and (max-width: 800px) {
  .gridcools {
    display: block;
    grid-template-columns: auto;
  }
}

/*
*Страница входа
*/

#large-header .form_screen {
  left: 50%;
  margin-right: -50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  position: absolute;
  top: 46vh;
  background-color: #04040459;
  padding: 15px;
  z-index: 9999;
  border-radius: 30px;
}

#large-header form button {
  background-color: #0ed04a;
  border-radius: 30px;
  display: inline-block;
  padding: 10px 30px 11px 30px;
  color: #ffffff;
  font-family: "Oswald", sans-serif;
  font-size: 18px;
  margin-right: 30px;
  border: none;
  cursor: pointer;
  outline: none;
}

#large-header form button:hover {
  background: -webkit-gradient(linear, left top, right top, from(#0ed04a), to(#0ed04a));
  background: linear-gradient(90deg, #0ed04a 0%, #0ed04a 100%);
  opacity: 0.85;
  -webkit-box-shadow: 0px 0px 30px #0ed04a;
          box-shadow: 0px 0px 30px #0ed04a;
}

#large-header form input {
  font-family: "Oswald", sans-serif;
  font-size: 18px;
  line-height: 18px;
  outline: none;
  border: 2px solid #0ecf4a;
  border-radius: 30px;
  padding-left: 20px;
  background-color: #0a0a0a59;
  color: #ffffff;
  margin-right: 20px;
}

.form_screen p {
  font-family: "Oswald", sans-serif;
  color: #ffffff;
  opacity: 0.6;
}

.form_screen p.page404 {
  font-family: "Oswald", sans-serif;
  color: #00b739;
  font-size: 48px;
  line-height: 48px;
  background-color: #100f0f94;
  padding: 15px;
  border-radius: 30px;
  text-align: center;
}

@media screen and (max-width: 680px) {
  #large-header .form_screen {
    top: 49vh;
  }

  #large-header form input {
    margin-right: 0;
    display: block;
    margin-bottom: 15px;
  }

  #large-header form button {
    width: 100%;
  }
}

/*
*Слайдер
*/

.layout_slider {
  width: 1170px;
  margin: 0 auto;
  padding-top: 24px;
}

.btns_slider {
  padding-top: 20px;
}

.btns_slider a.slider_order {
  background-color: #0ed04a;
  border-radius: 30px;
  display: inline-block;
  padding: 10px 30px 11px 30px;
  color: #ffffff;
  font-family: "Oswald", sans-serif;
  font-size: 18px;
  margin-right: 30px;
}

.btns_slider a.slider_order:hover {
  background: -webkit-gradient(linear, left top, right top, from(#0ed04a), to(#0ed04a));
  background: linear-gradient(90deg, #0ed04a 0%, #0ed04a 100%);
  opacity: 0.85;
  -webkit-box-shadow: 0px 0px 30px #0ed04a;
          box-shadow: 0px 0px 30px #0ed04a;
}

.btns_slider a.slider_link {
  background-color: #0a0a0a7a;
  border-radius: 30px;
  display: inline-block;
  padding: 10px 30px 11px 30px;
  color: #ffffff;
  font-family: "Oswald", sans-serif;
  font-size: 18px;
  width: 100px;
  text-align: center;
  border: 1px solid #0ed04a;
}

.btns_slider a.slider_link:hover {
  background: -webkit-gradient(linear, left top, right top, from(#0ed04a2b), to(#0ed04a42));
  background: linear-gradient(90deg, #0ed04a2b 0%, #0ed04a42 100%);
  opacity: 0.85;
  -webkit-box-shadow: 0px 0px 30px rgba(14, 208, 74, 0.63);
          box-shadow: 0px 0px 30px rgba(14, 208, 74, 0.63);
}

.btns_slider a {
  text-decoration: none;
  width: 100px;
  text-align: center;
}

.title h1 {
  font-family: "Oswald", sans-serif;
  color: #0ed04a;
  font-size: 48px;
  line-height: 48px;
}

.content p {
  font-family: "Vollkorn", serif;
  color: #ffffff;
  opacity: 0.8;
  font-size: 18px;
  font-size: 20px;
  line-height: 20px;
  width: 76%;
}

.slider {
  margin: 0 auto;
  max-width: 100%;
}

.slide_viewer {
  height: 340px;
  overflow: hidden;
  position: relative;
}

.slide_group {
  height: 100%;
  position: relative;
  width: 100%;
}

.slide {
  display: none;
  height: 100%;
  position: absolute;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.slide:first-child {
  display: block;
}

.slide:nth-of-type(2) {
  background: #ff0080;
}

.slide:nth-of-type(3) {
  background: #3deb08;
}

.slide:nth-of-type(4) {
  background: #ea05ff;
}

.slide_buttons {
  display: none;
  left: 0;
  position: absolute;
  right: 0;
  text-align: center;
}

a.slide_btn {
  color: #474544;
  font-size: 42px;
  margin: 0 0.175em;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.slide_btn.active,
.slide_btn:hover {
  color: #428cc6;
  cursor: pointer;
}

.directional_nav {
  height: 340px;
  margin: 0 auto;
  max-width: 940px;
  position: relative;
  top: -340px;
}

.previous_btn {
  bottom: 0;
  left: 100px;
  margin: auto;
  position: absolute;
  top: 0;
}

.next_btn {
  bottom: 0;
  margin: auto;
  position: absolute;
  right: 100px;
  top: 0;
}

.previous_btn,
.next_btn {
  cursor: pointer;
  height: 65px;
  opacity: 0.5;
  -webkit-transition: opacity 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out;
  width: 65px;
}

.previous_btn:hover,
.next_btn:hover {
  opacity: 1;
}

@media only screen and (max-width: 767px) {
  .previous_btn {
    left: 50px;
  }

  .next_btn {
    right: 50px;
  }
}

@media screen and (max-width: 1170px) {
  .layout_slider {
    width: 100%;
  }

  .body_slider {
    margin-left: 25px;
    margin-right: 25px;
  }

  .content p {
    width: 100%;
  }
}

@media screen and (max-width: 640px) {
  .title h1 {
    text-align: center;
    font-size: 36px;
    line-height: 36px;
  }
}

@media screen and (max-width: 440px) {
  .layout_slider {
    padding-top: 5px;
  }

  .btns_slider {
    padding-top: 10px;
  }

  .btns_slider a.slider_order {
    padding: 10px 0 11px 0;
    margin-right: 0;
    margin-bottom: 15px;
    width: 100%;
  }

  .btns_slider a.slider_link[data-v-6c0a33b2] {
    padding: 10px 0 11px 0;
    width: 100%;
  }
}

/*
*баннер
*/

.banner {
  width: 100%;
  margin: 0 auto;
  height: 165px;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.banner .b_title {
  padding-top: 50px;
}

.banner h1 {
  font-family: Oswald,sans-serif;
  font-size: 44px;
  line-height: 44px;
  color: #f9f9f9;
  text-align: center;
  cursor: default;
  margin: 0 auto;
  z-index: 999999;
  text-shadow: 0 0 10px #ffffff87;
}

/*
*Блоки услуг - страница
*/

.body_se {
  width: 1170px;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 20px;
}

.position_left .bg_se {
  width: 17%;
  display: inline-block;
  vertical-align: top;
}

.position_left .bg_se img {
  width: 100%;
}

.position_left .content_se {
  display: inline-block;
  width: 82%;
}

.position_right .content_se {
  display: inline-block;
  width: 82%;
  float: left;
}

.position_right .bg_se {
  width: 17%;
  display: inline-block;
  vertical-align: top;
}

.position_right .bg_se img {
  width: 100%;
}

.content_se .title_se p {
  font-family: Oswald,sans-serif;
  font-size: 20px;
  line-height: 20px;
  opacity: .8;
  text-align: center;
  cursor: default;
}

.content_se p.desc {
  font-family: 'Marmelad', sans-serif;
  font-style: normal;
  font-weight: normal;
  opacity: 0.8;
  text-align: center;
  cursor: default;
}

@media screen and (max-width: 1170px) {
  .body_se {
    width: 100%;
    padding-left: 25px;
    padding-right: 25px;
  }
}

