<template>
  <div id="app">
    <div class="d_nav">
            <div class="navigate">
                <div class="layout_nav">
                    <div class="lists">
                            <router-link :to="{ name: 'home' }" class="nav">Главная</router-link>
                            <router-link :to="{ name: 'services' }" class="nav">Услуги</router-link>                          
                            <div class="logo">
                                <router-link :to="{ name: 'home' }" class="brands">Dexploitdm</router-link>
                                <p>Разработка сайтов</p>
                            </div>
                            <router-link :to="{ name: 'works.index' }" class="nav">Проекты</router-link>
                            <router-link :to="{ name: 'about' }" class="nav">Обо мне</router-link>
                        <div class="mobile">
                            <div id="nav-trigger" class="nav-trigger open">
                                <span class="line"></span>
                                <span class="line"></span>
                                <span class="line"></span>
                            </div>
                            <nav id="nav" class="out">
                                <ul>
                                    <li><span class="nav-label"> <router-link :to="{ name: 'home' }">Главная</router-link></span></span></li>
                                    <li><span class="nav-label"> <router-link :to="{ name: 'services' }">Услуги</router-link></span></li>
                                    <li><span class="nav-label">  <router-link :to="{ name: 'works.index' }">Проекты</router-link></span></li>
                                    <li><span class="nav-label"> <router-link :to="{ name: 'about' }">Обо мне</router-link></span></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
             <transition
        name="fade"
        mode="out-in"
      >
  <router-view></router-view>
</transition>
        </div>
  </div>
</template>


<script>
require('./assets/main.js');

export default {
  name: 'App'
}
</script>
<style>
@import "./assets/sass/app.scss";
.fade-enter-active,
.fade-leave-active {
  transition-duration: 0.3s;
  transition-property: opacity;
  transition-timing-function: ease;
}

.fade-enter,
.fade-leave-active {
  opacity: 0
}
</style>
